permalink: /:year:month:day/:title
url: https://nasc.cn
baseurl: ""

# variables
name: NASC.CN
description: Jekyll site deployed on GitHub Pages
google_verification: null


# File management
include: [".htaccess"]
exclude: ["README.md", "LICENSE"]

# Sass
sass:
  style: :compressed
  sass_dir: _sass

# Markdown
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter_opts:
    disable : true

timezone: Asia/Shanghai
